.grid_12
	%h1= @page_title = "About TicketWatch"

	%p
	Back in 2009, users of Help Me Investigate set up an investigation to see 
	%a.url{ :href =>"http://www.helpmeinvestigate.com/investigations/36-on-which-birmingham-streets-are-the-most-parking-tickets-issued"} on which Birmingham street are the post parking tickets issued?
	
	%p
	I conducted some analysis on the data we received, and found some interesting facts which can be found
	on my blog,
	%a.url{ :href => "http://rasga.co.uk/2009/07/28/the-value-of-data-a-tale-of-birmingham-parking-tickets/" }The value of data, a tale of Birmingham Parking Tickets.
	
	%p
	This lead to the question,
	%a.url{ :href =>"http://rasga.co.uk/2009/08/06/parking-–-how-do-we-compare/"}Parking - How Do We Compare?
	are these numbers significantly different to 
	other councils, regarding the number of tickets, the distrobution of who issues the tickets
	and likewise.
	
	%p
	%a.url{ :href => "/"}TicketWatch, 
	now takes you through the findings for tickets issued by 
	%a.url{ :href => "http://http://tfl.gov.uk"}Transport For London.
	
