.grid_12

-#
	%ul#breadcrumb
		%li.home
	
.clear

.grid_12
	%p 
	Welcome to TicketWatch, a complete history of parking tickets issued by organisations, starting with
	TFL.  To find out more about the project take a look at the background on the 
	%a{ :href => '/about'}About Page
	

.grid_6.home_subheads
	%h3
		Aim

.grid_6.home_subheads
	%h3 Open data
	
.clear

.grid_6
	%p We are starting with releasing the TFL data we received, but then will be continuning to work through our backlog of council data as well.
	
	%p Starting with London, and other big cities.  It should be interesting to see what we find.

.grid_6
	%p Armchair Auditor doesn't just let you see how your council spends its money &mdash; it lets you talk about it too. 
	
	%p There's a comments thread for every council service, supplier and even each individual payment so you can add more information and your opinions.  
